[defaults]
inventory = hosts.yml
interpreter_python = /usr/bin/python3
host_key_checking = True
roles_path = ./roles
collections_path = ./collections
collections_scan_sys_path = False
local_tmp = ./.ansible/tmp
inject_facts_as_vars = False

[ssh_connection]
pipelining = True
transfer_method = piped
control_path_dir = ./.ansible/cp

[persistent_connection]
control_path_dir = ./.ansible/pc

[galaxy]
cache_dir = ./.ansible/galaxy_cache
