version: "3.8"

services:
  agent:
    image: portainer/agent:{{ portainer_version }}
    environment:
      AGENT_CLUSTER_ADDR: tasks.agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ docker_data_root }}/volumes:/var/lib/docker/volumes
    networks:
      - agent_network
    deploy:
      mode: global
      update_config:
        parallelism: 1
        order: stop-first
        failure_action: rollback
      rollback_config:
        parallelism: 1
        order: stop-first

  portainer:
    image: portainer/portainer-ce:{{ portainer_version }}
    command: -H tcp://tasks.agent:9001 --tlsskipverify
    secrets:
      - source: portainer_database_key
        target: portainer
    ports:
      - target: 9443
        published: {{ portainer_https_port }}
        protocol: tcp
        mode: ingress
    volumes:
      - {{ portainer_data_dir }}:/data
    networks:
      - agent_network
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.hostname == {{ portainer_primary_manager }}
      update_config:
        parallelism: 1
        order: stop-first
        failure_action: rollback
      rollback_config:
        parallelism: 1
        order: stop-first

networks:
  agent_network:
    driver: overlay
    attachable: false

secrets:  # pragma: allowlist secret
  portainer_database_key:  # pragma: allowlist secret
    external: true  # pragma: allowlist secret
    name: {{ swarm_secrets_resolved_names[portainer_database_secret_name] }}  # pragma: allowlist secret
