[Unit]
Description=Daily Portainer backup timer

[Timer]
OnCalendar=*-*-* {{ '%02d' | format(portainer_backup_hour | int) }}:{{ '%02d' | format(portainer_backup_minute | int) }}:00
Persistent=true
RandomizedDelaySec=0

[Install]
WantedBy=timers.target
